# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
myvenv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files
*.csv
*.xlsx
*.xls
data/
*.db

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Dependencies
*.egg-info/
dist/
build/

#tests
tests/
